<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musick</title>
    <link rel="stylesheet" href="/styles/musick.css">
  </head>
  <body>
    <header>
      {% if nickname %}
        {{ nickname }} •
      {% endif %}
      <a href="{{ auth_url }}">{{ auth_text }}</a>
      <h1>Musick The App</h1>
    </header>
    <nav>
      <ul>
        <li>Songs
        <li><a href="/artists">Artists</a>
        <li>Albums
      </ul>
    </nav>
    <section>
      {% if nickname %}
        <p>Welcome to Musick.</p>
        <p>Choose a menu item on the left to get started.</p>
      {% else %}
        <p>Hi, consider signing in!</p>
      {% endif %}
    </section>
  </body>
</html>
